@mixin center($type:'both'){
    display: flex;
    @if $type == 'vertical'{
        align-items: center;
    }@else if $type== 'horizontal'{
    justify-content: center;
    }@else if $type== 'space'{
        justify-content: space-between;
        align-items: center;
    }@else if $type=='start-n-center'{
        align-items: flex-start;
    }@else{
    align-items: center;
    justify-content: center;
    }
}